___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [94]:
import pandas as pd
import numpy as np

In [95]:
from numpy.random import randn
np.random.seed(101)

In [203]:
df=pd.DataFrame(np.random.randn(25).reshape(5,5),"A B C D E".split(),"X1 X2 X3 X4 X5".split())

In [97]:
df["X6"]=np.random.randn(5)
df

         X1        X2        X3        X4        X5        X6
A  2.706850  0.628133  0.907969  0.503826  0.651118  0.390528
B -0.319318 -0.848077  0.605965 -2.018168  0.740122  0.166905
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  0.184502
D  0.955057  0.190794  1.978757  2.605967  0.683509  0.807706
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.072960

In [98]:
df

         X1        X2        X3        X4        X5        X6
A  2.706850  0.628133  0.907969  0.503826  0.651118  0.390528
B -0.319318 -0.848077  0.605965 -2.018168  0.740122  0.166905
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  0.184502
D  0.955057  0.190794  1.978757  2.605967  0.683509  0.807706
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.072960

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [99]:
df[['X1',"X5"]]

         X1        X5
A  2.706850  0.651118
B -0.319318  0.740122
C  0.528813 -0.933237
D  0.955057  0.683509
E  0.302665 -0.134841

In [100]:
df['W']

KeyError: 'W'

In [ ]:
# Pass a list of column names
df[['W','Z']]

In [ ]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

DataFrame Columns are just Series

In [ ]:
type(df['W'])

**Creating a new column:**

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

In [ ]:
df

** Removing Columns**

In [ ]:
df.drop('new',axis=1)

In [ ]:
# Not inplace unless specified!
df

In [ ]:
df.drop(["A","E"],axis=0,inplace=True)

In [ ]:
df

In [ ]:
df.loc["B C".split()][["X1","X4"]]

In [211]:
# df.reset_index(inplace=True)
# df.drop("index",inplace=True,axis=1)
df

         X1        X2        X3        X4        X5
0  1.024810 -0.925874  1.862864 -1.133817  0.610478
1  0.386030  2.084019 -0.376519  0.230336  0.681209
2  1.035125 -0.031160  1.939932 -1.005187 -0.741790
3  0.187125 -0.732845 -1.382920  1.482495  0.961458
4 -2.141212  0.992573  1.192241 -1.046780  1.292765

Can also drop rows this way:

In [ ]:
df.drop('E',axis=0)

** Selecting Rows**

In [ ]:
df.loc['A']

Or select based off of position instead of label

In [ ]:
df.iloc[2]

** Selecting subset of rows and columns **

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [129]:
import pandas as pd

In [131]:
df=pd.DataFramw

In [136]:
df

         X1        X2        X3        X4        X5
A  0.638787  0.329646 -0.497104 -0.754070 -0.943406
B  0.484752 -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366  1.025984
D -0.156598 -0.031579  0.649826  2.154846 -0.610259
E -0.755325 -0.346419  0.147027 -0.479448  0.558769

In [137]:
df[df>0]

         X1        X2        X3        X4        X5
A  0.638787  0.329646       NaN       NaN       NaN
B  0.484752       NaN  1.901755  0.238127  1.996652
C       NaN  0.196800       NaN  0.000366  1.025984
D       NaN       NaN  0.649826  2.154846       NaN
E       NaN       NaN  0.147027       NaN  0.558769

In [157]:
df[df<0][:].loc["A B C".split()]

         X1        X2        X3       X4        X5
A       NaN       NaN -0.497104 -0.75407 -0.943406
B       NaN -0.116773       NaN      NaN       NaN
C -0.993263       NaN -1.136645      NaN       NaN

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [188]:
# df.drop("index",axis=1,inplace=True)
df

         X1        X2        X3        X4        X5
0  0.638787  0.329646 -0.497104 -0.754070 -0.943406
1  0.484752 -0.116773  1.901755  0.238127  1.996652
2 -0.993263  0.196800 -1.136645  0.000366  1.025984
3 -0.156598 -0.031579  0.649826  2.154846 -0.610259
4 -0.755325 -0.346419  0.147027 -0.479448  0.558769

In [202]:
df

                 X2        X3        X4        X5
X1
 0.638787  0.329646 -0.497104 -0.754070 -0.943406
 0.484752 -0.116773  1.901755  0.238127  1.996652
-0.993263  0.196800 -1.136645  0.000366  1.025984
-0.156598 -0.031579  0.649826  2.154846 -0.610259
-0.755325 -0.346419  0.147027 -0.479448  0.558769

In [165]:
# Reset to default 0,1...n index
df

         X1        X2        X3        X4        X5
A  0.638787  0.329646 -0.497104 -0.754070 -0.943406
B  0.484752 -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366  1.025984
D -0.156598 -0.031579  0.649826  2.154846 -0.610259
E -0.755325 -0.346419  0.147027 -0.479448  0.558769

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [396]:
# Index Levels
import pandas as pd
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [397]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.267240 -0.802843
   2 -0.253479  0.090699
   3  1.321715  0.794129
G2 1  1.359712  0.771970
   2  0.294217 -1.391519
   3  0.147486 -0.729466

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [398]:
df.loc['G1']

          A         B
1 -1.267240 -0.802843
2 -0.253479  0.090699
3  1.321715  0.794129

In [399]:
df.loc['G1'].loc[1]

A   -1.267240
B   -0.802843
Name: 1, dtype: float64

In [401]:
df.index.names

FrozenList([None, None])

In [402]:
df.index.names = ['Group','Num']

In [403]:
df

                  A         B
Group Num
G1    1   -1.267240 -0.802843
      2   -0.253479  0.090699
      3    1.321715  0.794129
G2    1    1.359712  0.771970
      2    0.294217 -1.391519
      3    0.147486 -0.729466

In [404]:
df.xs('G1')

            A         B
Num
1   -1.267240 -0.802843
2   -0.253479  0.090699
3    1.321715  0.794129

In [409]:
df.xs(('G1',1))

A   -1.267240
B   -0.802843
Name: (G1, 1), dtype: float64

In [410]:
df.xs(1,level='Num')

              A         B
Group
G1    -1.267240 -0.802843
G2     1.359712  0.771970

# Great Job!